@font-face {
  font-family: Inter;
  src: url("/Fonts/Inter.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.box-container {
  margin-top: 20px;
  display: flex;
  padding: 0 20px;
}
.box-aside {
  width: 20%;
}
.box-aside h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 8px;
}
.box-aside .box-category {
  display: flex;
  flex-direction: column;
}

.box-aside .box-category a {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.box-aside .box-category a:last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  line-height: 24px;
  color: #ff8b1f;
}

.box-aside .box-check {
  display: flex;
}
.box-aside .box-check p {
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.box-aside .box-price {
  display: flex;
  margin-top: 5px;
  margin-left: -10px;
}
.box-aside .box-price .item {
  width: calc(100% / 3 - 15px);
  margin-left: 10px;
  text-align: center;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}
.box-aside .box-price .item:last-child {
  width: 48px;
  height: 33px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.box-aside .list-colors{
  margin-top: 5px;
 
}
.box-aside .list-colors .list{
  margin-right: -10px;
}
.box-aside .list-colors .list img{
  margin-right: 10px;
}


.box-products-results {
  width: 78%;
  display: flex;
  flex-direction: column;
}
.box-products-results h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.box-products-results p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.list-product {
  display: flex;
  margin-top: 20px;
  margin-right: -15px;
}
.list-product .item {
  width: calc(78% / 2 - 15px);
  margin-right: 15px;
  background: #ffffff;
  border: 0.1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 8px;
}
.list-product .item .box-img {
  background: #f8f7fc;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}
.list-product .item .box-img img {
  object-fit: cover;
}

.list-product .item .name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0 10px;
  padding-top: 10px;
}

.list-product .item .box-rate {
  display: flex;
  padding: 10px 10px 0px 10px;
  align-items: center;
}
.list-product .item .box-rate:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.list-product .item .box-rate .rate {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1b745f;
}
.list-product .item .box-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}
.list-product .item .box-price p:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.list-product .item .box-price p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #000000;
  margin-left: 10px;
}
.list-product .item .ship {
  margin: 10px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.box-directional {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 375px;
  height: 42px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.box-directional .box-previous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.25);
}
.box-directional .box-previous p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.box-directional .box-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-left: 0.5px solid rgba(0, 0, 0, 0.25);
}
.box-directional .box-next p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 10px;
}
